<div id="article<%= id %>">
    <!--Article Title-->
    <h1 id="articleTitle"><%= title %></h1>

    <!--Article SubTitle-->
    <h2 id="articleSubTitle"><%= subTitle %></h2>

    <!--Article Content-->
    <p id="articleContent" class="tooltip-text"><%= content %></p>

    <hr />  
    <h4>Files</h2>
    <div id="file-list">
        <!--File List Content-->
    </div>

    <!--Article Option Buttons-->
    <a class="btn btn-default" data-internal="true" href="/Articles">Back to List</a>
    <a class="btn btn-default bot-visibility" data-internal="true" href="/Articles/Update/<%= id %>">Update Article</a>
    <button type="button" class="btn btn-danger bot-visibility" data-toggle="modal" data-target="#article<%= id %>DeleteModal">
        Delete Article
    </button>

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="article<%= id %>DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete article <strong><%= title %></strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="deleteArticleButton" type="button" class="btn btn-danger" data-dismiss="modal">Yes, I'm sure</button>
                </div>
            </div>
        </div>
    </div>
</div>